@{
    ViewBag.Title = "О нас";
}
<center><h1>Ветеринарная клиника «Vet Clinic»</h1></center>
<p style="text-align: center;">У клиента ветеринарной клиники имеется возможность зарегистрироваться
     и начать использование программной системы «Vet Clinic», в ответ на некоторые 
    действия приходят уведомления на почту. У клиента имеется возможность просматривать 
    личный кабинет, в котором можно редактировать личные данные и изменять пароль. Также клиент
     может управлять питомцами: добавлять, изменять, удалять и просматривать информацию о них. Клиент
     может управлять услугами: отправлять заявку на предоставление услуги, просматривать все свои заявки
     и отменять ненужные заявки.</p>
