@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title</h2>

<address>
    Томск<br />
    Ленина, 123 А<br />
    <abbr title="Телефон">Тел:</abbr>
    88005553535
</address>

<address>
    <strong>Справочная:</strong>   <a href="mailto:info@vetclinic.ru">info@vetclinic.ru</a><br />
</address>